# Canonical author name for git log, shortlog and blame, matching the byline
# in LICENSE and pyproject.toml. Changes what git displays; rewrites nothing.
Saahil Shah <saahilshah178@gmail.com> sanjaypshah210 <saahilshah178@gmail.com>
